.banner {
    color: white;
    /* object-fit: contain; */
    height: 60rem;
    margin-left: -1.5rem;
}

.bannerContents {
    margin-left: 7rem;
    padding-top: 14rem;
    text-align: left;
}

.bannerTitle {
    font-size: 3rem;
   font-family: NetflixSansBold;
    margin-bottom: 1rem;
}
.bannerButtons {
    margin-top: 2rem;
    
}
.bannerButton {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 1rem 3rem;
    margin: 0 20px 20px 0;
    background-color: rgba(60, 61, 62, 0.5);
    transition: background-color 0.2s;
}
.bannerButton:hover {
    background-color: rgba(114, 117, 122, 0.5);
}


.bannerButton1 {
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 1rem 3rem;
    margin: 0 20px 20px 0;
    background-color: #fff;
    transition: background-color 0.1s;
    will-change: background-color;
    display: inline-flex;
}
.bannerButton1:hover {
    background: rgba(255, 255, 255, 0.75);
}

.bannerDescription {
    width: 40rem;
    line-height: 2rem;
    padding-top: 1rem;
    font-size: 1.5rem;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
   
 
}

.bannerFadeBottom {
    width: 100%;
    height: 28.45rem;
    background-image: linear-gradient(transparent,rgba(37,37,37,.61),#111);
}
.playIcon {
    margin-right: 1rem;
}
/* mobile */
@media  screen and (max-width: 739px) {
    .bannerDescription {
        width: 80%;
    }
    .bannerContents {
        margin-left: 3rem;
        
    }
}

/* Tablet width: >=740px  and < 1024px*/
@media screen  and (min-width: 740px) and  (max-width : 1023px){
    
}

/* PC >= 1024 */
@media screen and (min-width: 1024px) {
    
}